[submodule "themes/hugo-sustain"]
	path = themes/hugo-sustain
	url = git@github.com:suyundukov/hugo-sustain.git
[submodule "public"]
	path = public
	url = git@github.com:pranto157/pranto157.github.io.git
